<plugin name='itunes-service' version='0.1.1' grailsVersion='1.3.1 &gt; *'>
  <author>Marco Vermeulen</author>
  <authorEmail>marco_vermeulen@yahoo.co.uk</authorEmail>
  <title>iTunes Service Plugin</title>
  <description>
    	A plugin for the Grails Framework that facilitates the integration with iTunes Web Services and Feeds.
    	The plugin draws on the Rome libraries (https://rome.dev.java.net/) to parse and handle feed data, and
    	then converts results into instances of an Album domain class.</description>
  <documentation>http://grails.org/plugin/itunes-service</documentation>
  <resources>
    <resource>BuildConfig</resource>
    <resource>DataSource</resource>
    <resource>UrlMappings</resource>
    <resource>spring.resources</resource>
    <resource>uk.co.hashcode.itunes.DemoController</resource>
    <resource>uk.co.hashcode.itunes.Album</resource>
    <resource>uk.co.hashcode.itunes.Country</resource>
    <resource>uk.co.hashcode.itunes.FeedType</resource>
    <resource>uk.co.hashcode.itunes.Genre</resource>
    <resource>uk.co.hashcode.itunes.ItunesFeedsService</resource>
  </resources>
  <dependencies />
  <behavior />
</plugin>